*.tdms
*.medi
nbproject/private
*.stackdump
core
.dep.inc
*.dat
*.hea
*.ari
*.atr
*.ann
gmon.out
*.zl*
big.xml
small.xml
test.xml
problem.xml
xml.xml
cpc.xml
*.hdf5
*sample*
test.stp
8.4.xml
ZUMPO*
ix.xml
ix_example.xml
phClassic_example.xml
dist/
build/
formatconverter

